.card-data {
  position: relative; /* z-index를 적용하려면 position 설정 필요 */
  z-index: 2; /* 패턴보다 위에 위치하도록 설정 */
}

/* 카드 제목 */
.card-title {
  font-family: Pretendard, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 12px;
}

/* 프로필 이미지 섹션 */
.profile-images {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.profile-image {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  border: 1.5px solid white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: -10px;
}

.profile-images .profile-image:first-child {
  margin-left: 0;
}

.extra-count {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  color: #555555;
  border: 1.5px solid white;
  margin-left: -10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 카드 텍스트 */
.card-text {
  text-align: center;
  margin-bottom: 43px;
}

.bold-text {
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #3a3a3a;
}

.light-text {
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #3a3a3a;
}

/* 밑줄추가 */

/* 리액션 섹션 */
.card-reactions {
  display: flex;
  justify-content: left;
  gap: 8px;
  margin-top: 16px;
}

.reaction-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto; /* Hug 설정 */
  height: auto; /* Hug 설정 */
  padding: 8px 12px;
  gap: 2px;
  border-radius: 32px;
  background: #0000008a;
  opacity: 1; /* visible 설정 */
}

.reaction-emoji {
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.reaction-count {
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}
