* {
  box-sizing: border-box;
}

/* 나중에 reset.css 만들어서 적용 */
body,
html {
  height: 100%;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}

/* From.css */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤이 생기도록 설정 */
}

.logo {
  margin-top: 15px;
}

.from_header {
  width: 100%;
  height: 64px;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 230px;
  padding-top: 5px;
}

.from_main {
  width: 720px;
  height: 944px;
  margin: 20px auto;
}

.title {
  font-size: var(--font-size-24);
  font-weight: 700;
  color: var(--gray-900);
}

.contnetp {
  font-size: var(--font-size-24);
  font-weight: 700;
  color: var(--gray-900);
  margin-bottom: 20px;
}

.name {
  display: flex;
  flex-direction: column;
  height: 98px;
  gap: 1.2rem;
  margin-bottom: 40px;
}

.name_input {
  width: 100%;
  height: 50px;
  padding: 1.2rem 1.6rem;
  border-radius: 0.8rem;
  border: none;
  outline: 0.1rem solid var(--gray-300);
  background: var(--white);
  font-size: var(--font-size-16);
  font-weight: 400;
  line-height: 150%;
}

.profileimg {
  width: 717px;
  height: 142px;
  display: flex;
  flex-direction: column;
  height: 98px;
  gap: 1.2rem;
  margin-top: 40px; /* name과 profileimg 사이 여백 추가 */
  margin-bottom: 65px;
}

.profile_content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile_list-p {
  font-size: var(--font-size-16);
  font-weight: 400;
  line-height: 26px;
  color: var(--gray-500);
  margin-bottom: 5px;
}

.profile_list_image {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.default_profile {
  width: 80px;
  height: 80px;
  object-fit: cover; /* 이미지가 비율에 맞게 잘리도록 설정 */
}

.list_image {
  width: 56px;
  height: 56px;
  object-fit: cover; /* 이미지가 비율에 맞게 잘리도록 설정 */
}

.relation {
  width: 320px;
  height: 98px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 40px;
}

.font {
  width: 320px;
  height: 98px;
  display: flex;
  flex-direction: column;
  height: 98px;
  gap: 1.2rem;
}

.selection {
  position: relative;
  width: 320px;
  height: 50px;
  border-radius: 0.8rem;
  padding: 0.6rem 1rem;
  border: 0.1rem solid var(--gray-300);
  background: var(--White);
  text-align: left;
  font-size: var(--font-size-16);
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-500);

  /* 기본 화살표 제거 */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* 화살표 이미지 추가 */
  background-image: url("../images/From_img/arrow_bottom.svg");
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: 16px;
}

.btn_send {
  width: 100%;
  position: relative;
  padding: 14px 24px;
  gap: 10px;
  border-radius: 12px;
  background: var(--purple-600);
  color: var(--white);
  font-size: var(--font-size-16);
  font-weight: 500;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
