* {
  box-sizing: border-box;
}

/* 나중에 reset.css 만들어서 적용 */
body,
html {
  height: 100%;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}

/* From.css */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fromlogo {
  margin-top: 15px;
}

.fromheader {
  width: 100%;
  height: 64px;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 230px;
  padding-top: 5px;
}

.from_main {
  width: 720px;
  height: 944px;
  margin: 20px auto;
}

.title {
  font-size: var(--font-size-24);
  font-weight: 700;
  color: var(--gray-900);
}

.contnetp {
  font-size: var(--font-size-24);
  font-weight: 700;
  color: var(--gray-900);
  margin-bottom: 20px;
}

.name {
  display: flex;
  flex-direction: column;
  height: 98px;
  gap: 1.2rem;
  margin-bottom: 40px;
}

.name_input {
  width: 100%;
  height: 50px;
  padding: 1.2rem 1.6rem;
  border-radius: 0.8rem;
  border: none;
  outline: 0.1rem solid var(--gray-300);
  background: var(--white);
  font-size: var(--font-size-16);
  font-weight: 400;
  line-height: 150%;
}

.name-error_message {
  color: var(--error);
  font-size: 14px;
  margin-left: 5px;
  margin-top: -5px;
}
.profileimg {
  width: 717px;
  height: 142px;
  display: flex;
  flex-direction: column;
  height: 98px;
  gap: 1.2rem;
  margin-top: 40px; /* name과 profileimg 사이 여백 추가 */
  margin-bottom: 75px;
}

.profile_content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile_list-p {
  font-size: var(--font-size-16);
  font-weight: 400;
  line-height: 26px;
  color: var(--gray-500);
  margin-bottom: 5px;
}

.profile_list_image {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.default_profile {
  width: 80px;
  height: 80px;
  object-fit: cover; /* 이미지가 비율에 맞게 잘리도록 설정 */
  border-radius: 50%; /* 동그라미로 만들기 */
}

.custom_image {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.list_image {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.relation {
  width: 320px;
  height: 98px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 40px;
}

.font {
  width: 320px;
  height: 98px;
  display: flex;
  flex-direction: column;
  height: 98px;
  gap: 1.2rem;
}

.selection {
  position: relative;
  width: 320px;
  height: 50px;
  border-radius: 0.8rem;
  padding: 0.6rem 1rem;
  border: 0.1rem solid var(--gray-300);
  background: var(--White);
  text-align: left;
  font-size: var(--font-size-16);
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-500);
  cursor: pointer;
}

.btn_selection {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.selection_list {
  position: absolute;
  top: 100%; /* selection 아래 배치 */
  left: 0;
  width: 320px;
  height: 180px;
  border-radius: 8px;
  background: #ffffff;
  font-size: var(--font-size-16);
  border: 1px solid var(--gray-300);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.selection_list li {
  padding: 10px 16px;
  font-size: var(--font-size-16);
  color: var(--gray-500);
  font-size: var(--font-size-16);
  cursor: pointer;
  display: block;
}
.selection_list li:hover {
  background: #f3f4f6; /* hover 시 회색 배경 */
}

.btn_send {
  width: 100%;
  position: relative;
  padding: 14px 24px;
  gap: 10px;
  border-radius: 12px;
  background: var(--purple-600);
  color: var(--white);
  font-size: var(--font-size-16);
  font-weight: 500;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

/* 비활성화 상태일 때 */
.btn_send:disabled {
  background: var(--gray-400);
  cursor: not-allowed;
}

/* 태블릿 */
@media screen and (max-width: 1024px) {
  .fromlogo {
    margin-top: 15px;
    padding-left: 20px;
    position: relative;
    top: 0; /* 위로 이동시키지 않도록 조정 */
  }

  .fromheader {
    padding-left: 20px;
  }

  .from_main {
    width: 90%;
    height: auto;
  }

  .btn_send {
    width: 90%;
    padding: 12px 20px;
  }

  .ql-container {
    width: 90%;
    height: 150px;
  }
}

/* 모바일 */
@media screen and (max-width: 768px) {
  .fromlogo {
    display: none; /* 모바일 화면에서 logo를 숨김 */
  }

  .from_main {
    width: 100%;
    padding: 0 16px;
  }

  .btn_send {
    width: 100%;
    padding: 10px 18px;
  }

  .name_input,
  .selection {
    width: 100%;
  }

  .profile_list_image {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
    justify-content: center;
  }

  .profile_content {
    width: 100%;
    max-width: 100%;
  }
  .profileimg {
    width: 100%;
    max-width: 100%;
  }
  .list_image,
  .custom_image {
    width: 40px;
    height: 40px;
  }
}
