* {
  box-sizing: border-box;
}

.to-page-container {
  width: 100%;
  max-width: 1920px;
  margin: auto 0;
  padding: 0 24px;
}

.to-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 720px;
  height: auto;
  margin: 12px auto;
  padding: 20px;
}

.to-content section {
  margin: 40px 0;
}

.background-selection {
  margin: 40px 0;
}

.to-label {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  width: 100%;
  text-align: left;
  margin-top: 61px;
  margin-bottom: 12px;
}

.to-input {
  width: 100%;
  height: 50px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  outline: none;
  margin-top: 10px;
  margin-bottom: 20px;
}

.selection-text {
  width: 301px;
  height: 66px;
  text-align: center;
  margin-top: 40px;
  gap: 4px;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  width: 244px;
  height: 40px;
  margin-top: 20px;
}

.color-options {
  display: flex;
  justify-content: center;
  width: 720px;
  height: 168px;
  margin-top: 40px;
  gap: 16px;
}

.color-option {
  width: 168px;
  height: 168px;
  border-radius: 12px;
  border: 2px solid transparent;
  cursor: pointer;
  position: relative;
}

.image-preview {
  display: flex;
  gap: 16px;
}

.preview-image {
  border-radius: 8px;
}

.background-selection-text {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: left;
  align-items: flex-start;
}

.background-selection-header {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: -0.01em;
}

.background-selection-p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.01em;
}

.tabs {
  display: flex;
  width: fit-content;
  height: 40px;
  gap: 10px;
  border-radius: 6px;
}

.tab {
  width: 122px;
  height: 40px;
  border-radius: 6px;
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  opacity: 1;
}

.tab.active {
  border: 2px solid #9935ff;
  color: #9935ff;
}

.create-button {
  width: 720px;
  height: 56px;
  background-color: #8c4bff;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  margin: 24px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
