.ql-toolbar {
  width: 100%;
  background: var(--gray-200, #eee);
  border-radius: 8px 8px 0px 0px;
}

.ql-container {
  border-radius: 0px 0px 8px 8px;
  width: 100%;
  height: 180px;
  color: var(--gray-900);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.16px;
  margin-bottom: 20px;
}

.dompurifyBox {
  font-size: 16px;
}

.ql-align-justify {
  text-align: justify;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-editor ol li:not(.ql-direction-rtl),
.ql-editor ul li:not(.ql-direction-rtl) {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .ql-toolbar.ql-snow .ql-formats {
    margin-right: 10px;
  }

  .ql-snow .ql-picker.ql-expanded .ql-picker-options {
    left: -30px;
  }
}
